page-modal-comments {
    .title{
        text-align: center;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    
    .icono2{
        font-size: 25px;
    }
}
